// Roboto font-style
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');


// ---------------------------------- Mixins ------------------------------- 

@mixin flex($gap) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: $gap
}

@mixin absoluteCenter() {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin flexWrap($wrap, $gap) {
    display: flex;
    flex-wrap: $wrap;
    gap: $gap;
}

@mixin grid($min) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
    grid-gap: 1rem;
}

@mixin transition_linear {
    transition: .2s linear;
}

@mixin  background_center {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

// ---------------------------------- General ------------------------------------
* {
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

html {
    background-color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif;
    scroll-behavior: smooth;
}


h1 {
    font-size: 50px;
    line-height: 64px;
    color: #222;
}

h2 {
    font-size: 46px;
    line-height: 54px;
    color: #222;
}

h4 {
    font-size: 20px;
    color: #222;
}

h6 {
    font-weight: 700px;
    font-size: 12px;
}

p {
    font-size: 16px;
    color: #585858;
    margin: 15px 0 20px 0;
}

.section-p1 {
    padding: 40px 0;
}

.section-m1 {
    margin: 40px 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.container {
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

button.normal {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 30px;
    color: #000;
    background-color: #fff;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
    border: none;
    @include transition_linear();
}

button.white {
    font-size: 12px;
    font-weight: 600;
    padding: 11px 18px;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    outline: none;
    border: 1px solid white;
    @include transition_linear();
}

// ---------------------------------- Home page ------------------------------------
.header {
    background-color: #e3e6f3;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.062);
    position: sticky;
    top: 0;
    left: 0;
    z-index: 111111;

    // navbar
    .nav {
        @include flex(0);
        padding: 20px 0;

        .navbar {
            @include flex(0);

            li {
                padding: 0 20px;
                position: relative;
                
                a {
                    font-size: 16px;
                    font-weight: 600;
                    color: #1a1a1a;
                    @include transition_linear();
        
                    &:hover, &.active {
                        color: #088178;
                    }
        
                    &.active::after, &:hover::after {
                        content: "";
                        width: 30px;
                        height: 3px;
                        background-color: #088178;
                        position: absolute;
                        bottom: -6px;
                        left: 20px;
                    }
                }
                
            }
        }
    }

    .toggle_btn_wrapper {
        display: none;
    }

    #shoping-cart-lg {
        display: inline-block;
    }
    #close_navbar_btn {
        display: none;
    }
}

// hero 
.home-hero {
    height: 90vh;
    width: 100%;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    .container {
        @include flex(0);
        align-items: flex-start;
        flex-direction: column;
    
        

        h4 {
            padding-bottom: 15px;
        }

        h1 {
            color: #088178;
        }

        button {
            background-image: url('../images/button.png');
            background-color: transparent;
            background-repeat: no-repeat;
            color: #088178;
            border: 0;
            padding: 14px 80px 14px 65px;
            font-weight: 600;
            cursor: pointer;
            font-size: 14px;

        }
    }
}

// features
.features {
    .features_container {
        @include grid(10rem);

        .feature_box {
            // width: 170px;
            text-align: center;
            padding: 25px 15px;
            border: 1px solid #cce7d0;
            border-radius: 3px;
            box-shadow: 0px 0px 5px rgba(99, 99, 99, 0.3);
            @include transition_linear();
            margin: 15px 0;
            
            &:hover {
                box-shadow: 0px 0px 10px rgba(99, 99, 99, 0.5);
            }

            img {
                width: 100%;
                margin-bottom: 10px;
            }


            h6 {
                display: inline-block;
                padding: .4rem;
                background-color: #ffc9fc;
                line-height: 1;
                color: #088178;
                border-radius: 4px;
            }

            &:nth-child(2) h6 {
                background-color: #eaf5d8;;
            }
            &:nth-child(3) h6 {
                background-color: #bfd4f0;;
            }
            &:nth-child(4) h6 {
                background-color: #aff1e9;;
            }
            &:nth-child(5) h6 {
                background-color: #d4bff0;;
            }
            &:nth-child(6) h6 {
                background-color: #f5d8d8;;
            }
        }
    }
}

// Featured Products
.product1 {
    .product1_container {
        h2, p {
            text-align: center;
        }
    }

    .products {
        @include grid(14rem);
        margin-top: 4rem;

        .product_card {
            position: relative;
            // flex: 1 1 12rem;
            padding: 10px;
            border-radius: 13px;
            border: 1px solid #e2e2e2;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            @include transition_linear();

            &:hover {
                box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            }
            
            img {
                width: 100%;
                border-radius: 7px;
            }

            span {
                font-size: 13px;
                color: gray;
            }

            h5 {
                margin: 4px 0;
                color: #1a1a1a;
                font-size: 14px;
            }

            .stars {
                margin-bottom: 5px;
                i {
                    font-size: 12px;
                    color: #ffa700;
                }
            }

            h4 {
                color:#088178;
                font-weight: 700;
                font-size: 15px;
                padding-top: 7px;
            }

            .addtocart {
                position: absolute;
                right: 13px;
                bottom: 10px;
                background-color: #e3e5e5;
                border-radius: 50%;
                color: #088178;
                font-size: 14px;
                width: 35px;
                height: 35px;
                @include absoluteCenter();
                cursor: pointer;
            }
        }
    }
}

// banner
.banner {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height:40vh;
    @include absoluteCenter();
    
    .banner_container {
        text-align: center;
        h4 {
            color: white;
            font-size: 16px;
        }
        h2 {
            font-size: 30px;
            color: white;
            margin: 1.5rem 0;

            span {color: red;}
        }

        button:hover {
            background-color: #088178;
            color: white;
        }
    }
}

// sm-banner
.sm-banner-container {
    @include grid(20rem);
   
    .card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 241px;
        padding-left: 1.4rem;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        
        h4 {
            color: white;
            font-size: 20px;
            font-weight: 300;
        }

        h2 {
            color: white;
            font-size: 28px;
            font-weight: 800;
        }

        span {
            color: white;
            font-size: 14px;
            font-weight: 500;
            padding-bottom: 15px;
        }

        &:hover button {
            background-color: #088178;
            color: white;
            border-color: #088178;
        }
    }
}

.lg-banner-container {
    @include grid(17rem);
    padding-top: 1rem;
    .card {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 178px;
        display: grid;
        align-content: center;
        padding-left: 2rem;

        h2 {
            color: white;
            font-weight: 900;
            font-size: 22px;
        }

        h3 {
            color: red;
            font-weight: 800;
            font-size: 15px;
        }
    }
}

// new letter 
.newsletter {
    background-color: #060d2f;
    color:white;

    .container {
        @include flex(0);
        flex-wrap: wrap;
        
        // .box {
        //     flex: 1 1 22rem;
        // }

        .newstext {
            h4 {
                font-size: 22px;
                font-weight: 700;
                color: #fff;
            }

            p {
                font-size: 14px;
                font-weight: 600;
                color: #818ea0;
            }

            span {
                color: orange;
            }
        }

        .form {
            // display: flex;
            // align-items: center;
            // justify-content: right;
            width: 40%;

            form {
                display: flex;
                align-items: center;
                justify-content: right;
                // width: 70%;
            }

            input {
                height: 3.125rem;
                padding: 0 1.25em;
                font-size: 14px;
                width: 100%;
                border: 1px solid transparent;
                outline: none;
            }

            input {
                border-top-left-radius: 3px;
                border-bottom-left-radius: 3px;
                // flex-grow: 1;
            }
            button {
                color:white;
                background-color: #088178;
                white-space: nowrap;
                height: 3.125rem;
                border-top-left-radius: 0;
                border-bottom-left-radius: 0;
            }
        }
    }
}

// Footer
footer {
    .container {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .col {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin-bottom: 20px;
        }

        .logo {
            margin-bottom: 30px;
        }

        h4 {
            font-size: 14px;
            margin-bottom: 20px;
        }

        p {
            font-size: 13px;
            margin: 0 0 8px 0 !important;
        }

        a {
            font-size: 13px;
            margin-bottom: 10px;
            color: #222;
            transition: .3s linear;
        }

        i {
            transition: .3s linear;
        }

        .follow {
            margin-top: 20px;

            i {
                color: #465b52;
                padding-right: 4px;
                cursor: pointer;
            }
        }

        .install-app .row {
            margin: 10px 0 15px 0;
            img {
                border: 1px solid #088178;
                border-radius: 4px;
            }
        }
        
        a:hover, i:hover {
            color: #088178;
        }

    }

    .copyright {
        text-align: center;
        color: #222;
    }
}


/*============    Shop Page      ==============*/
.page-header {
    height: 40vh;
    @include background_center(); 
    @include absoluteCenter();


    .container {
        text-align: center;
        h2 {
            color: white;
        }

        p {
            color: white;
        }
    }
}

// pagination
.shop-pageination {
    .container {
        text-align: center;
        a {
            background: #088178;
            padding: 10px 18px;
            color: white;
            font-size: 20px;
            border-radius: 3px;
        }
    
    }
}



/*============  Single  Product Page      ==============*/
.single-product-details {
    .container {
        display: flex;
        justify-content: space-between;

        .single-product-image {
            flex-basis: 40%;
    
            .small-image-group {
                display: flex;
                justify-content: space-between;
    
                .small-image-col {
                    flex-basis: 24%;
                    cursor: pointer;
                }
            }
        }
    
        .single-product-detail {
            flex-basis: 58%;
            padding: 1rem;


            h4 {
                padding: 40px 0 20px 0;
            }

            h2 {
                font-size: 26px;
            }

            select {
                display: block;
                padding: 5px 10px;
                margin-bottom: 10px;
                border-radius: 3px;
                font-size: 16px;
            }


            input {
                width: 50px;
                height: 47px;
                padding-left: 10px;
                font-size: 16px;
                margin-right: 10px;
                // border-radius: 3px;
            }

            button.normal {
                background-color: #088178;
                color: white;
            }

            span {
                line-height: 25px;
                color: #585858;
            }
        }
    }
}





/*============    Media Queries      ==============*/
@media (max-width:799px) {

    // header
    .header {
        .nav {
            .navbar {
                position: absolute;
                top: 0;
                right:0;

                flex-direction: column;
                align-items: flex-start;
                justify-content: flex-start;
        
                width: 0;
                height: 100vh;
                padding: 3rem 2rem;
                box-shadow: 0 0 0;
                display: none;
                background-color: #dbdbdb;
                @include transition_linear();

                li {
                    padding: 1rem 0;
                    a.active::after, a:hover::after {
                        left: 0px;
                        bottom: 2px;
                    }
                }

                &.show {

                    width: 300px;
                    display: flex;
                }
            }
        }

        .toggle_btn_wrapper {
            display:flex;
            align-items: center;
            gap: 2rem;
            
            i {
                font-size: 22px;
                cursor: pointer;
            }
        }

        #shoping-cart-lg {
            display: none;
        }
        #close_navbar_btn {
            display: inline-block;
            position: absolute;
            top: 16px;
            left: 22px;
            font-size: 23px;
            cursor: pointer;
            @include transition_linear(); 
        }
        #close_navbar_btn:hover {
            text-shadow: 0 0 10px rgb(99, 99, 99);
        }
    }


    .home-hero {
        height: 70vh;
        background-position: top 35% right 35%;
    }

    
    //features
    .features {
        .features_container {
            grid-template-columns: 1fr 1fr 1fr;
            .feature_box {
                margin: 0;
            }
        }
    }
    
    //products 
    .product1 .products {
        @include grid(15rem);
    }

    //sm-banner
    .sm-banner-container {
        display: block;
    }
    .lg-banner-container {
        @include grid(10rem);
    }

    // banner 
    .banner {
        height: 20vh;
    }


    // newsletter
    .newsletter {
        .container {
            display: block;

            .newstext {
                text-align: center;
                h4 {
                    font-size: 18px;
                    font-weight: 600;
                }
    
                p {
                    font-size: 12px;
                }
            }
    
            .form {
                width: 100%;
                form {
                    display: block;
                    text-align: center;
                }
    
                input {
                    padding: 7px 12px;
                    font-size: 12px;
                    width: 100%;
                    border: 1px solid transparent;
                    border-radius: 3px;
                    outline: none;
                }

                button {
                    margin-top: 2rem;
                    border-radius: 3px;
                    padding: 7px 15px;
                    background-color: red;
                    height: 32px;
                }
            }
        }
    }

    // footer
    footer {
        .container {
            display: block;
            .col {
                text-align: center;               
                display: block;
                margin-bottom: 20px;
            }
    
            .logo {
                margin-bottom: 30px;
            }
    
            h4 {
                font-size: 14px;
                margin: 30px 0 10px 0;
            }
    
            p {
                font-size: 13px;
                margin: 0 0 8px 0 !important;
            }
    
            a {
                font-size: 13px;
                margin-bottom: 10px;
                color: #222;
                transition: .3s linear;
                display: block;
            }
    
            i {
                transition: .3s linear;
            }
    
            .follow {
                margin-top: 20px;
    
                i {
                    color: #465b52;
                    padding-right: 4px;
                    cursor: pointer;
                }
            }
    
            .install-app .row {
                margin: 10px 0 15px 0;
                img {
                    width: 45%;
                    border: 1px solid #088178;
                    border-radius: 4px;
                }
            }
    
        }

        .copyright p {
            font-size: 11px;
        }
    }
}


@media (max-width: 500px) {
    .header .nav .navbar.show {
        width: 100%;
    }


    .features .features_container{
        grid-template-columns: 1fr 1fr;
    }



    // single product page
    .single-product-details {
        .container { 
            display: block;
            h6 {
                font-size: 1.3rem;
            }
        }
    }
}