@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
}

html {
  background-color: white;
  font-family: 'Roboto', sans-serif;
  scroll-behavior: smooth;
}

h1 {
  font-size: 50px;
  line-height: 64px;
  color: #222;
}

h2 {
  font-size: 46px;
  line-height: 54px;
  color: #222;
}

h4 {
  font-size: 20px;
  color: #222;
}

h6 {
  font-weight: 700px;
  font-size: 12px;
}

p {
  font-size: 16px;
  color: #585858;
  margin: 15px 0 20px 0;
}

.section-p1 {
  padding: 40px 0;
}

.section-m1 {
  margin: 40px 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  width: 95%;
  max-width: 1100px;
  margin: 0 auto;
}

button.normal {
  font-size: 14px;
  font-weight: 600;
  padding: 15px 30px;
  color: #000;
  background-color: #fff;
  border-radius: 4px;
  cursor: pointer;
  outline: none;
  border: none;
  transition: .2s linear;
}

button.white {
  font-size: 12px;
  font-weight: 600;
  padding: 11px 18px;
  color: #fff;
  background-color: transparent;
  cursor: pointer;
  outline: none;
  border: 1px solid white;
  transition: .2s linear;
}

.header {
  background-color: #e3e6f3;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.062);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 111111;
}

.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  padding: 20px 0;
}

.header .nav .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
}

.header .nav .navbar li {
  padding: 0 20px;
  position: relative;
}

.header .nav .navbar li a {
  font-size: 16px;
  font-weight: 600;
  color: #1a1a1a;
  transition: .2s linear;
}

.header .nav .navbar li a:hover, .header .nav .navbar li a.active {
  color: #088178;
}

.header .nav .navbar li a.active::after, .header .nav .navbar li a:hover::after {
  content: "";
  width: 30px;
  height: 3px;
  background-color: #088178;
  position: absolute;
  bottom: -6px;
  left: 20px;
}

.header .toggle_btn_wrapper {
  display: none;
}

.header #shoping-cart-lg {
  display: inline-block;
}

.header #close_navbar_btn {
  display: none;
}

.home-hero {
  height: 90vh;
  width: 100%;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.home-hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  align-items: flex-start;
  flex-direction: column;
}

.home-hero .container h4 {
  padding-bottom: 15px;
}

.home-hero .container h1 {
  color: #088178;
}

.home-hero .container button {
  background-image: url("../images/button.png");
  background-color: transparent;
  background-repeat: no-repeat;
  color: #088178;
  border: 0;
  padding: 14px 80px 14px 65px;
  font-weight: 600;
  cursor: pointer;
  font-size: 14px;
}

.features .features_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  grid-gap: 1rem;
}

.features .features_container .feature_box {
  text-align: center;
  padding: 25px 15px;
  border: 1px solid #cce7d0;
  border-radius: 3px;
  box-shadow: 0px 0px 5px rgba(99, 99, 99, 0.3);
  transition: .2s linear;
  margin: 15px 0;
}

.features .features_container .feature_box:hover {
  box-shadow: 0px 0px 10px rgba(99, 99, 99, 0.5);
}

.features .features_container .feature_box img {
  width: 100%;
  margin-bottom: 10px;
}

.features .features_container .feature_box h6 {
  display: inline-block;
  padding: .4rem;
  background-color: #ffc9fc;
  line-height: 1;
  color: #088178;
  border-radius: 4px;
}

.features .features_container .feature_box:nth-child(2) h6 {
  background-color: #eaf5d8;
}

.features .features_container .feature_box:nth-child(3) h6 {
  background-color: #bfd4f0;
}

.features .features_container .feature_box:nth-child(4) h6 {
  background-color: #aff1e9;
}

.features .features_container .feature_box:nth-child(5) h6 {
  background-color: #d4bff0;
}

.features .features_container .feature_box:nth-child(6) h6 {
  background-color: #f5d8d8;
}

.product1 .product1_container h2, .product1 .product1_container p {
  text-align: center;
}

.product1 .products {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(14rem, 1fr));
  grid-gap: 1rem;
  margin-top: 4rem;
}

.product1 .products .product_card {
  position: relative;
  padding: 10px;
  border-radius: 13px;
  border: 1px solid #e2e2e2;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  transition: .2s linear;
}

.product1 .products .product_card:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.product1 .products .product_card img {
  width: 100%;
  border-radius: 7px;
}

.product1 .products .product_card span {
  font-size: 13px;
  color: gray;
}

.product1 .products .product_card h5 {
  margin: 4px 0;
  color: #1a1a1a;
  font-size: 14px;
}

.product1 .products .product_card .stars {
  margin-bottom: 5px;
}

.product1 .products .product_card .stars i {
  font-size: 12px;
  color: #ffa700;
}

.product1 .products .product_card h4 {
  color: #088178;
  font-weight: 700;
  font-size: 15px;
  padding-top: 7px;
}

.product1 .products .product_card .addtocart {
  position: absolute;
  right: 13px;
  bottom: 10px;
  background-color: #e3e5e5;
  border-radius: 50%;
  color: #088178;
  font-size: 14px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.banner {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 40vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.banner .banner_container {
  text-align: center;
}

.banner .banner_container h4 {
  color: white;
  font-size: 16px;
}

.banner .banner_container h2 {
  font-size: 30px;
  color: white;
  margin: 1.5rem 0;
}

.banner .banner_container h2 span {
  color: red;
}

.banner .banner_container button:hover {
  background-color: #088178;
  color: white;
}

.sm-banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
  grid-gap: 1rem;
}

.sm-banner-container .card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 241px;
  padding-left: 1.4rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.sm-banner-container .card h4 {
  color: white;
  font-size: 20px;
  font-weight: 300;
}

.sm-banner-container .card h2 {
  color: white;
  font-size: 28px;
  font-weight: 800;
}

.sm-banner-container .card span {
  color: white;
  font-size: 14px;
  font-weight: 500;
  padding-bottom: 15px;
}

.sm-banner-container .card:hover button {
  background-color: #088178;
  color: white;
  border-color: #088178;
}

.lg-banner-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
  grid-gap: 1rem;
  padding-top: 1rem;
}

.lg-banner-container .card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 178px;
  display: grid;
  align-content: center;
  padding-left: 2rem;
}

.lg-banner-container .card h2 {
  color: white;
  font-weight: 900;
  font-size: 22px;
}

.lg-banner-container .card h3 {
  color: red;
  font-weight: 800;
  font-size: 15px;
}

.newsletter {
  background-color: #060d2f;
  color: white;
}

.newsletter .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-wrap: wrap;
}

.newsletter .container .newstext h4 {
  font-size: 22px;
  font-weight: 700;
  color: #fff;
}

.newsletter .container .newstext p {
  font-size: 14px;
  font-weight: 600;
  color: #818ea0;
}

.newsletter .container .newstext span {
  color: orange;
}

.newsletter .container .form {
  width: 40%;
}

.newsletter .container .form form {
  display: flex;
  align-items: center;
  justify-content: right;
}

.newsletter .container .form input {
  height: 3.125rem;
  padding: 0 1.25em;
  font-size: 14px;
  width: 100%;
  border: 1px solid transparent;
  outline: none;
}

.newsletter .container .form input {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.newsletter .container .form button {
  color: white;
  background-color: #088178;
  white-space: nowrap;
  height: 3.125rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

footer .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

footer .container .col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
}

footer .container .logo {
  margin-bottom: 30px;
}

footer .container h4 {
  font-size: 14px;
  margin-bottom: 20px;
}

footer .container p {
  font-size: 13px;
  margin: 0 0 8px 0 !important;
}

footer .container a {
  font-size: 13px;
  margin-bottom: 10px;
  color: #222;
  transition: .3s linear;
}

footer .container i {
  transition: .3s linear;
}

footer .container .follow {
  margin-top: 20px;
}

footer .container .follow i {
  color: #465b52;
  padding-right: 4px;
  cursor: pointer;
}

footer .container .install-app .row {
  margin: 10px 0 15px 0;
}

footer .container .install-app .row img {
  border: 1px solid #088178;
  border-radius: 4px;
}

footer .container a:hover, footer .container i:hover {
  color: #088178;
}

footer .copyright {
  text-align: center;
  color: #222;
}

/*============    Shop Page      ==============*/
.page-header {
  height: 40vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-header .container {
  text-align: center;
}

.page-header .container h2 {
  color: white;
}

.page-header .container p {
  color: white;
}

.shop-pageination .container {
  text-align: center;
}

.shop-pageination .container a {
  background: #088178;
  padding: 10px 18px;
  color: white;
  font-size: 20px;
  border-radius: 3px;
}

/*============  Single  Product Page   ==============*/
.single-product-details .container {
  display: flex;
  justify-content: space-between;
}

.single-product-details .container .single-product-image {
  flex-basis: 40%;
}

.single-product-details .container .single-product-image .small-image-group {
  display: flex;
  justify-content: space-between;
}

.single-product-details .container .single-product-image .small-image-group .small-image-col {
  flex-basis: 24%;
  cursor: pointer;
}

.single-product-details .container .single-product-detail {
  flex-basis: 58%;
  padding: 1rem;
}

.single-product-details .container .single-product-detail h4 {
  padding: 40px 0 20px 0;
}

.single-product-details .container .single-product-detail h2 {
  font-size: 26px;
}

.single-product-details .container .single-product-detail select {
  display: block;
  padding: 5px 10px;
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 16px;
}

.single-product-details .container .single-product-detail input {
  width: 50px;
  height: 47px;
  padding-left: 10px;
  font-size: 16px;
  margin-right: 10px;
}

.single-product-details .container .single-product-detail button.normal {
  background-color: #088178;
  color: white;
}

.single-product-details .container .single-product-detail span {
  line-height: 25px;
  color: #585858;
}

/*============  Blog Page   ==============*/
.blog .blog__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  margin-top: 6rem;
}

.blog .blog__item .blog__image {
  flex-basis: 50%;
}

.blog .blog__item .blog__image img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.blog .blog__item .blog__text {
  flex-basis: 50%;
}

.blog .blog__item .blog__text a {
  position: relative;
  color: black;
  font-weight: 800;
  font-size: 13px;
  transition: .2s linear;
}

.blog .blog__item .blog__text a:hover {
  color: #088189;
}

.blog .blog__item .blog__text a::after {
  content: "";
  position: absolute;
  top: 7px;
  right: -70px;
  height: 1.5px;
  width: 60px;
  background-color: #000;
  transition: .2s linear;
}

.blog .blog__item .blog__text a:hover::after {
  background-color: #088189;
}

.blog .blog__item > h1 {
  color: #c9cbce;
  position: absolute;
  top: -50px;
  left: 0;
  z-index: -11;
  font-size: 70px;
  font-weight: 700;
}

/*============  Blog Page   ==============*/
.about .container {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.about .container .about-image {
  width: 50%;
  flex-basis: 40%;
}

.about .container .about-text {
  flex-basis: 60%;
}

/*============  Abbout Page   ==============*/
.about-app .container {
  text-align: center;
}

.about-app .container h1 a {
  color: blue;
}

.about-app .container video {
  width: 100%;
  height: 100%;
}

/*============    Media Queries      ==============*/
/*============    Media Queries      ==============*/
/*============    Media Queries      ==============*/
/*============    Media Queries      ==============*/
/*============    Media Queries      ==============*/
@media (max-width: 799px) {
  .header .nav .navbar {
    position: absolute;
    top: 0;
    right: 0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    width: 0;
    height: 100vh;
    padding: 3rem 2rem;
    box-shadow: 0 0 0;
    display: none;
    background-color: #dbdbdb;
    transition: .2s linear;
  }
  .header .nav .navbar li {
    padding: 1rem 0;
  }
  .header .nav .navbar li a.active::after, .header .nav .navbar li a:hover::after {
    left: 0px;
    bottom: 2px;
  }
  .header .nav .navbar.show {
    width: 300px;
    display: flex;
  }
  .header .toggle_btn_wrapper {
    display: flex;
    align-items: center;
    gap: 2rem;
  }
  .header .toggle_btn_wrapper i {
    font-size: 22px;
    cursor: pointer;
  }
  .header #shoping-cart-lg {
    display: none;
  }
  .header #close_navbar_btn {
    display: inline-block;
    position: absolute;
    top: 16px;
    left: 22px;
    font-size: 23px;
    cursor: pointer;
    transition: .2s linear;
  }
  .header #close_navbar_btn:hover {
    text-shadow: 0 0 10px #636363;
  }
  .home-hero {
    height: 70vh;
    background-position: top 35% right 35%;
  }
  .features .features_container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .features .features_container .feature_box {
    margin: 0;
  }
  .product1 .products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    grid-gap: 1rem;
  }
  .sm-banner-container {
    display: block;
  }
  .lg-banner-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    grid-gap: 1rem;
  }
  .banner {
    height: 20vh;
  }
  .newsletter .container {
    display: block;
  }
  .newsletter .container .newstext {
    text-align: center;
  }
  .newsletter .container .newstext h4 {
    font-size: 18px;
    font-weight: 600;
  }
  .newsletter .container .newstext p {
    font-size: 12px;
  }
  .newsletter .container .form {
    width: 100%;
  }
  .newsletter .container .form form {
    display: block;
    text-align: center;
  }
  .newsletter .container .form input {
    padding: 7px 12px;
    font-size: 12px;
    width: 100%;
    border: 1px solid transparent;
    border-radius: 3px;
    outline: none;
  }
  .newsletter .container .form button {
    margin-top: 2rem;
    border-radius: 3px;
    padding: 7px 15px;
    background-color: red;
    height: 32px;
  }
  footer .container {
    display: block;
  }
  footer .container .col {
    text-align: center;
    display: block;
    margin-bottom: 20px;
  }
  footer .container .logo {
    margin-bottom: 30px;
  }
  footer .container h4 {
    font-size: 14px;
    margin: 30px 0 10px 0;
  }
  footer .container p {
    font-size: 13px;
    margin: 0 0 8px 0 !important;
  }
  footer .container a {
    font-size: 13px;
    margin-bottom: 10px;
    color: #222;
    transition: .3s linear;
    display: block;
  }
  footer .container i {
    transition: .3s linear;
  }
  footer .container .follow {
    margin-top: 20px;
  }
  footer .container .follow i {
    color: #465b52;
    padding-right: 4px;
    cursor: pointer;
  }
  footer .container .install-app .row {
    margin: 10px 0 15px 0;
  }
  footer .container .install-app .row img {
    width: 45%;
    border: 1px solid #088178;
    border-radius: 4px;
  }
  footer .copyright p {
    font-size: 11px;
  }
}

@media (max-width: 500px) {
  .header .nav .navbar.show {
    width: 100%;
  }
  .features .features_container {
    grid-template-columns: 1fr 1fr;
  }
  .single-product-details .container {
    display: block;
  }
  .single-product-details .container h6 {
    font-size: 1.3rem;
  }
  .blog .blog__item {
    flex-direction: column;
  }
  .blog .blog__item .blog__image {
    flex-basis: 100%;
  }
  .blog .blog__item .blog__image img {
    height: auto;
  }
  .blog .blog__item .blog__text {
    flex-basis: 100%;
  }
  .about .container {
    display: block;
  }
  .about .container .about-image {
    width: 100%;
  }
  .about .container .about-text {
    width: 100%;
    text-align: center;
  }
  .about .container .about-text p {
    font-size: 20px;
    line-height: 30px;
  }
}
/*# sourceMappingURL=style.css.map */